
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>List of Movies</h2>
        <hr />
        <p class="card-text">
          <form method="GET">
            <div class="row">
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">Search</div>
                  <input type="text" class="form-control" name="search">
                </div>
              </div>
              <div class="col-auto">
                <button class="btn bg-dark text-white" type="submit">Search</button>
              </div>
            </div>
          </form>
        </p>
      </div>
    </div>
    <div class="row">
      {% for movie in template_data.movies %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <img src="{{ movie.image.url }}" class="card-img-top rounded img-card-200">
          <div class="card-body text-center">
            <h6 class="card-title">{{ movie.name }}</h6>
            <p class="card-text">
              <small class="text-muted">${{ movie.price }}</small>
            </p>
            {% if movie.average_rating %}
              <div class="mb-2">
                <span class="text-warning">
                  {% for i in "12345" %}
                    {% if forloop.counter <= movie.average_rating %}
                      <i class="fas fa-star"></i>
                    {% elif forloop.counter|add:"-1" < movie.average_rating %}
                      <i class="fas fa-star-half-alt"></i>
                    {% else %}
                      <i class="far fa-star"></i>
                    {% endif %}
                  {% endfor %}
                </span>
                <small class="text-muted">({{ movie.average_rating|floatformat:1 }})</small>
              </div>
            {% else %}
              <div class="mb-2">
                <small class="text-muted">No ratings yet</small>
              </div>
            {% endif %}
            <a href="{% url 'movies.show' id=movie.id %}" class="btn bg-dark text-white btn-sm">
              View Details
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
